        <div id="secondDisplay">
            <center>
            <form>
                <br>
                <br>
                <h3 id="headerThree">Enter:
                    <br>
                    <!--(minimum 1 field required)-->
                </h3>
                <input ng-model="lCtrl.phoneNumber" class="inputClass" type="number" placeholder="Phone Number"  />
                <input ng-model="lCtrl.eMail" class="inputClass" type="text" placeholder="E-Mail" />
                <input ng-model="lCtrl.facebook" class="inputClass" type="text" placeholder="Facebook"/>
                <br>
                <br>
                <input ng-model="lCtrl.armsAlertOnly" type="checkbox" name="check" value="local">
                <p id="check"> Update only with Arms-Alert</p>-->
                <br>
                <button id="b1" type="submit" name="inputTwo" ng-click="lCtrl.savedata()"">Recieve</button>
                <br>
                <br>
                <br>
                <a id="back" href='#/home'>Back to Main</a>

            </form>
            </center>
        </div>